/*----------- Fonts ----------*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');

/*----------- Headers section ----------*/

.main_header{
    color: white;
    padding: 100px 0px 10px;
}

.headers-center{
    text-align:center;
}

#introduction{
    height: 500px;
    background-color: red;
    background-image: url("/images/Introduction-BG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.separator{
    border-radius: 1px;
    background-color: black;
    width: 60%;
    height: 3px;
    margin: auto;
}

.text-box{
    border-radius: 2px;
    margin: auto;
    background-color: rgba(238, 255, 0, 0.5);
    text-align:center;
    width: 80%;
}

.img-col{
    padding: 0;
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    background-position: center;
}

.img-col-1{
    background-image: url("/images/boats.jpg");
}

.img-col-2{
    background-image: url("/images/food.jpg");
}

.img-col-3{
    background-image: url("/images/people.jpg");
}

.img-col-4{
    background-image: url("/images/Train.jpg");
}

.img-col-5{
    background-image: url("/images/coffe.jpg");
}