/*----------- Fonts ----------*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Permanent+Marker&family=Varela+Round&display=swap');


body{
    background-color: rgb(250, 247, 255);
    margin: auto;
    max-width: 1200px;
}

nav {
    margin: auto;
    max-width: 1200px;
}

/*----------- Headers section ----------*/

.main_header{
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    color: rgb(255, 255, 255);
    padding: 100px 0px 10px;
}

.headers-center{
    text-align:center;
}

h2{
    font-family: 'Fira Sans', sans-serif;
    padding: 15px;
}

/*---------- Main Section ------------*/

#introduction{
    margin: auto;
    max-width: 1200px;
    height: 500px;
    background-image: url("/images/Introduction-BG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*------------- Activities section ----------*/

#activities{
    margin: auto;
    max-width: 1200px;
    padding: 15px 2px 2px 2px;
}

.img-col-text > h5{
    text-transform: uppercase;
    text-decoration: underline;
    padding-bottom: 5px;
}

.icons{
    font-size: 35px;
    padding-top: 12px;
    margin: auto;
    border-radius: 35px;
    width: 70px;
    height: 70px;
    border: 2px solid;
}

.img-col{
    padding: 0;
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    background-position: center;
}

.img-col-text{
    font-family: 'Varela Round', sans-serif;
    padding-top: 10px;
    height: auto;
    width: 90%;
    margin: auto;
    position: relative;
}

.img-col-1{
    background-image: url("/images/boats.jpg");
}

.img-col-2{
    background-image: url("/images/food.jpg");
}

.img-col-3{
    background-image: url("/images/people.jpg");
}

.img-col-4{
    background-image: url("/images/Train.jpg");
}

.img-col-5{
    background-image: url("/images/coffe.jpg");
}

/*------------contact section ---------*/

.contact-form{
    padding-top: 20px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 700px;
    background-color: rgba(0, 128, 0, 0.212);
}

/*------------ footer section --------------*/

footer{
    margin: auto;
    background-color: aqua;
    height: 30px;
    max-width: 1200px;
}

/*------------Miscelaneous elements -------------*/

.separator{
    background-color: black;
    width: 60%;
    height: 3px;
    margin: auto;
}

.text-box{
    border-radius: 2px;
    margin: auto;
    width: 80%;
}

/*--------------------- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_center-vertical2_btn -------------*/

.button_container{
    margin-bottom: 20px;
    height: 70px;
    position: relative;    
}

.center-button{
    margin: 0;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: (50%, 50%);
}